
.navbar
{
    @apply fixed top-0 left-0 w-full flex justify-around items-center gap-16 z-50 bg-[#3a0ca3] text-base font-medium;
    padding: 10px 30px 10px 30px;
}

.itemsNav
{
    @apply flex items-center gap-11; 
}

.logo
{
    @apply font-medium text-2xl;
}

.links
{
    @apply flex p-3 text-white font-bold rounded-xl;
    box-shadow: inset 0 0 0 0 #fff;
    transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.links:hover
{
    color: #3a0ca3;
    box-shadow: inset 150px 0 0 0 #fff;
}

.links.active
{
    @apply flex p-3 cursor-pointer text-[#3a0ca3] bg-white;
}

.links_icons i{
    @apply flex justify-center items-center w-10 h-10 p-2 rounded-full transition-colors duration-300 text-white hover:text-[#3a0ca3] hover:bg-[#fff];
}

.links_icons.active i
{
    @apply flex justify-center items-center w-10 h-10 p-2 rounded-full cursor-pointer text-[#3a0ca3] bg-white;
}
